.container {
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 10px;
    @media (min-width:768px) {
        padding: 0 20px;
        width: 100%;
    }

    @media (min-width:1728px) {
        padding: 0 84px;
        width: 100%;
    }
}
