.slider-pagination {
    display: flex;
    justify-content: center;
    gap: 20px;
    
    &__item {
        &--small {
            width: 11px;
            height: 13px;
        }

        &--big {
            width: 30px;
            height: 11px;
        }

        &--bg-black {
            background-color: #000000;
        }

        &--bg-white {
            background-color: #fff;
        }

        &--round {
            border-radius: 50%;
        }

        &--half-round {
            border-radius: 20px;
        }
    }
}
